form.encrypt(action="")
  textarea(name="input_text", rows="3", placeholder="Исходный текст")
  input(type="text", name="input_key", placeholder="Key - 32 bytes max")
  input(type="text", name="input_iv", placeholder="IV - 16 bytes max")
  textarea(name="output_encrypted", rows="3")
  input(type="submit", value="Шифровать")
